@import url('//fonts.googleapis.com/earlyaccess/notosansrunic.css');

@font-face {
  font-family: 'runi';
  src: url('NotoSansRunic-Regular.ttf');
}

p { 
    margin: 5px 30px 15px;
    font-family:"Century Gothic", "HelveticaNeueLT Pro 45 Lt", sans-serif;  

}

.runi p {
 font-family: 'Noto Sans Runic', sans-serif;
}

body {
    background-image: url("Brick-3023d1.jpg");
    background-size: 10%;
}

.demo div { 
    width: 400px;
    height: 65px;
    line-height: 60px;
    color: #333;
    font-family: "Century Gothic", "Helvetica", sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-left: 30px; 
}
/* Darker text on medium background */

@keyframes example {
    0% {text-shadow: 0px 1px 0px rgba(200,200,200,.5);background: radial-gradient(ellipse farthest-side at top,rgba(100,90,20,0.5),rgba(10,10,10,0.5))}
    10% {text-shadow: 0px 1px 0px rgba(200,200,150,.4);}
    40% {text-shadow: 0px 1px 0px rgba(200,200,180,.5);}
    50% {text-shadow: 0px 1px 0px rgba(200,200,140,.6);background: radial-gradient(ellipse farthest-side at top,rgba(90,80,10,0.5),rgba(10,10,10,0.5))}
    65% {text-shadow: 0px 1px 0px rgba(200,200,190,.5);}
    90% {text-shadow: 0px 1px 0px rgba(200,200,175,.4);}
    100% {text-shadow: 0px 1px 0px rgba(200,200,200,.5);background: radial-gradient(ellipse farthest-side at top,rgba(100,90,20,0.5),rgba(10,10,10,0.5))}
}

.demo1 { 

    text-align: center;
    font-size: 250%;
    color: rgba(30,30,30,0.8);
    font-weight: 900;
    background: radial-gradient(ellipse farthest-side at top,rgba(100,90,20,0.5),rgba(10,10,10,0.5));
    text-shadow: 0px 1px 0px rgba(200,200,200,.5); /* 50% white from bottom */
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


